<link rel="stylesheet" href="/static/style.css">

<div class="hero">
<h1>Student Toolkit 🚀</h1>
</div>

<div class="container">
<div class="card"><a href="/resume">Resume</a></div>
<div class="card"><a href="/summarizer">Summarizer</a></div>
<div class="card"><a href="/pdf-to-speech">Text to Speech</a></div>
<div class="card"><a href="/image-compressor">Image Compressor</a></div>
<div class="card"><a href="/merge-pdf">Merge PDF</a></div>
<div class="card"><a href="/split-pdf">Split PDF</a></div>
</div>
